<!DOCTYPE html>
{% set elapsed = now() | date(format="%Y") | int - config.extra.career_start %}
{% set career_years = config.extra.number_words | nth(n=elapsed) %}
{% set wwqi_elapsed = now() | date(format="%Y") | int - config.extra.wwqi_built %}
{% set wwqi_years = config.extra.number_words | nth(n=wwqi_elapsed) %}
<html lang="{{ config.default_language }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>
<div class="resume">
{% include "partials/resume.html" %}
</div>
</body>
</html>
